<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Project Title</title>
    
    <!-- Stylesheets -->
    <!-- <link rel="stylesheet" href="styles/style.css"> -->
    <link rel="stylesheet" href=" {{url_for('static',path='styles/style.css')}}">

    <!-- Preconnect for faster font loading -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <!-- Preload important fonts -->
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
    </noscript>

    <!-- Asynchronous Icon Library -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" media="print" onload="this.media='all'">

    <!-- JavaScript -->
    <!-- Jinja -->
   {% block custom_head %}
   {% endblock %}
    
</head>
<body>

   <header>
      <span class="title">Some Content</span>
      <i class='bx bxs-bell' aria-hidden="true"></i>
      <i class='bx bx-moon' aria-hidden="true"></i>
      <figure>
         <img src="{{url_for('static', path='userpic.webp')}}" alt="User Profile">
      </figure>
   </header>

   <aside class="sidebar">
      <section class="sidebar-title">
         <figure class="sidebar-img">
            <img src="{{url_for('static', path='logo.webp')}}" alt="App Logo">
         </figure>
         <span class="sidebar-app-title">Your App</span>
      </section>
      <nav class="sidebar-nav">
         <ul class="list">
            <li><a href="{{ url_for('upload_document') }}" data-link><i class='bx bx-upload'></i> New File</a></li>
         </ul>
      </nav>
   </aside>

   <main id="app">
      {% block app %}
      {% endblock %}
   </main>
   <script src="{{ url_for('static', path='js/index.js') }}" type="text/javascript"></script>
</body>
</html>
